@using Ministry.Models;
@model Ministry.Models.NewsEventsVM
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["Create"];
}

<h4>@localizer["Create/Edit"]</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" enctype="multipart/form-data" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="LanguageType" class="control-label"></label>
                    <select asp-for="LanguageType" asp-items="Html.GetEnumSelectList<LanguageType>()">
                        <option selected="selected" value="">Select Language</option>
                    </select>
                    <span asp-validation-for="LanguageType" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="NewsTitle" class="control-label"></label>
                    @Html.TextBoxFor(m => m.NewsTitle, new { @class = "form-control", @maxlength = "35" })
                    <span asp-validation-for="NewsTitle" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group  col-md-6">
                    <label asp-for="NewsDescription" class="control-label"></label>
                    @Html.TextAreaFor(m => m.NewsDescription, new { @class = "form-control", @maxlength = "500" })
                    <span asp-validation-for="NewsDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="ImageFile">Image</label>
                    <input class="form-control" type="file" id="Image" name="Image" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="IsActive">Active</label>
                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "cIsRate form-control " })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="@localizer["Submit"]" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>@localizer["Back to List"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
