@model IEnumerable<Ministry.Models.SubmittedFileVM>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["File Request"];
}
<section>

    <div class="main-box clearfix">
        <h4>@localizer["List"]</h4>

        <table class="table table-hover" id="flatdatatable">
            <thead>
                <tr style="background-color: #f7ecfd">
                    <th>
                        @localizer["Sl"].
                    </th>
                    <th>
                        Chamber Username
                    </th>
                    <th>
                        Submission Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Download
                    </th>
                    <th>
                        @*<a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>@localizer["Create New"]</a>*@
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int rowNo = 0; }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@{rowNo++;} @rowNo</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.chamber_username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Submission_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File_Submit_Status)
                    </td>
                    <td>
                        @if (item.Attachment != null && item.Attachment != "")
                        {
                            try
                            {
                                <div class="col-md-6" id="fileExist">
                                    @*@Html.LabelFor(model => item.Attachment, new { @class = "FileUpload" })*@
                                    @Html.HiddenFor(model => item.Attachment)
                                    <div class="col-md-6">
                                        <a class="" target="_blank" href="~/Files/@item.Attachment">
                                            <img class="attachment" src="~/../assets/icons/files.png" width="30" alt="File" title="File" accept="application/pdf, application/vnd.ms-excel" />
                                        </a>
                                    </div>
                                </div>

                            }
                            catch
                            {
                                <span>File exists but Not Found...</span>
                            }
                        }
                        else
                        {
                            <span>File Not Found...</span>
                        }
                    </td>
                    <td>
                        @if (item.File_Submit_Status == "Pending")
                        {
                            <a asp-action="SubmitFile" asp-route-id="@item.Id">File Upload</a>

                        }
                        <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</section>
@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
                $(document).ready(function () {
                    $("#flatdatatable").DataTable();
                }
                )
    </script>
}
