@model List<MinistryApp.ViewModel.UserRolesViewModel>

@{
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h4>Manage User Roles</h4>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @if (@Model[i].RoleName == "FlatOwner")
                        {
                            @Html.Label("Flat Owner/Tenant")
                        }
                        else
                        {
                            @Model[i].RoleName
                        }
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@userId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('.form-check-input').on('change', function () {
        $('.form-check-input').not(this).prop('checked', false);
    });
</script>


<!-- Test -->
@*<input type="checkbox" id="1" value="laptop" onclick="getSelectItemThat(this.id)" /> Laptop 1
<input type="checkbox" id="2" value="mobile" onclick="getSelectItemThat(this.id)" /> Mobile 2
<input type="checkbox" id="3" value="computer" onclick="getSelectItemThat(this.id)" /> Computer 3
<input type="checkbox" id="4" value="lcd" onclick="getSelectItemThat(this.id)" /> LCD 4

<script>
    function getSelectItemThat(id) {
        for (var i = 1; i <= 4; i++) {
            document.getElementById(i).checked = false;
        }
        document.getElementById(id).checked = true;
    }
</script>*@