<h1>User Dashboard</h1>


@model IEnumerable<Ministry.Models.FileModelVM>

@{
    ViewData["Title"] = "Index";
}

<style>
    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .yellow {
        background-color: yellow;
    }
</style>
<h1>List</h1>
<hr />

<table class="table table-hover" id="filedatatable">
    <thead>
        <tr style="background-color: #f7ecfd">
            <th>
                SL.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResonsiblePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateLine)
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {

            var rowColor = "";
            if (item.SubmitStatus == "Submitted")
            {
                rowColor = "green";
            }
            else if (item.SubmitStatus == "Pending")
            {
                rowColor = "yellow";
            }

            if (item.SubmitStatus == "Pending" && item.DateLine <= DateTime.Now)
            {
                rowColor = "red";
            }


            <tr>
                <td>
                    @{rowNo++;} @rowNo
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResonsiblePerson)
                </td>
                <td style="background-color:@rowColor">
                    <span style="color:white"> @Html.DisplayFor(modelItem => item.SubmitStatus) </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateLine)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id">Upload File</a>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fas fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fas fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }


    </tbody>
</table>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#filedatatable").DataTable();
        }
        )
    </script>
}