@model Ministry.Models.SubmittedFileVM

@{
    ViewData["Title"] = "Create";
}


<h4>Create</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form name="form1" asp-action="AddOrEdit" asp-controller="SubmittedFile" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Feedback_By, new { Value = "@User.Identity.Name" })
            <div class="form-row">
                <div class="form-group col-md-12" style="vertical-align:bottom">
                    @Html.LabelFor(model => model.Attachment, new { @class = "attachment" })

                    <div id="fileContent" style="display:block;" class="form-group col-md-12">
                        @if (Model.Attachment != null && Model.Attachment != "")
                        {
                            <div class="col-md-6" id="fileExist">
                                @Html.LabelFor(model => model.Attachment, new { @class = "FileUpload" })
                                @Html.HiddenFor(model => model.Attachment);
                                <div class="col-md-6">
                                    <a class="" target="_blank" href="~/Files/@Model.Attachment">
                                        <img class="attachment" src="~/../assets/icons/files.png" width="30" alt="File" title="File" accept="application/pdf, application/vnd.ms-excel" />
                                    </a>

                                    <span onclick="FileDeleteThis(this);" data-id="@Model.Id" data-table="501" data-field="Attachment" data-url="@Model.Attachment">
                                        <img class="attachment" src="~/../assets/img/document_delete.png" width="30" alt="File" title="File" />
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12">

                            </div>


                            try
                            {

                            }
                            catch
                            {
                                <span>File exists but Not Found...</span>
                            }





                        }
                        else
                        {

                        }
                    </div>
                </div>
            </div>


            <div class="form-group col-md-12">

                <label asp-for="File_Submit_Status" class="control-label"></label>
                @*@Html.DropDownListFor(m => m.File_Submit_Status, new SelectList(ViewBag.categoryList, "Value", "Text"), "Select File Category", new { @class = "form-control" })*@
                <span asp-validation-for="File_Submit_Status" class="text-danger"></span>

            </div>

            <div class="form-group col-md-12">

                <label asp-for="File_Submit_Status" class="control-label"></label>
                @*@Html.DropDownListFor(m => m.File_Submit_Status, new SelectList(ViewBag.categoryList, "Value", "Text"), "Select File Category", new { @class = "form-control" })*@
                <span asp-validation-for="File_Submit_Status" class="text-danger"></span>

            </div>

            <div class="form-group col-md-12">

                <label asp-for="Feedback_Note" class="control-label"></label>
                @*@Html.DropDownListFor(m => m.Feedback_Note, new SelectList(ViewBag.categoryList, "Value", "Text"), "Select File Category", new { @class = "form-control" })*@
                <span asp-validation-for="Feedback_Note" class="text-danger"></span>

            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ReviewedDate" class="control-label"></label>
                    <input asp-for="ReviewedDate" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="ReviewedDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="Submission_Date" class="control-label"></label>
                    <input asp-for="Submission_Date" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="Submission_Date" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="DeadLine" class="control-label"></label>
                    <input asp-for="DeadLine" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="DeadLine" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="ReSubmitDate" class="control-label"></label>
                    <input asp-for="ReSubmitDate" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="ReSubmitDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="FeedbackDate" class="control-label"></label>
                    <input asp-for="FeedbackDate" id="datepicker" type="text" class="form-control" />
                    <span asp-validation-for="FeedbackDate" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" /> @*onclick="phonenumber(document.form1.Mobile)"*@
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

}
